name: Automated Preprocessing

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  preprocess:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12.7"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run automate_VirgieBeatrice.py
        run: |
          python preprocessing/automate_VirgieBeatrice.py

      - name: Upload processed dataset as artifact
        uses: actions/upload-artifact@v4
        with:
          name: processed-dataset
          path: preprocessing/processed_dataset.csv

      - name: Commit processed data
        uses: EndBug/add-and-commit@v9
        with:
          add: "preprocessing/processed_dataset.csv"
          message: "chore: update processed dataset from CI"
          default_author: github_actions
          push: true
          token: ${{ secrets.GITHUB_TOKEN }}
