name: Automated Preprocessing

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  preprocess:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
        with:
          persist-credentials: false

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12.7"

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run automate_VirgieBeatrice.py
        run: |
          python preprocessing/automate_VirgieBeatrice.py

      - name: Commit processed data
        uses: EndBug/add-and-commit@v9
        with:
          token: ${{ secrets.SECRET }}
          add: "preprocessing/processed_dataset.csv"
          author_name: "github-actions[bot]"
          author_email: "github-actions[bot]@users.noreply.github.com"
          message: "Update pre-processed data"

